*{
  margin:0;
  padding:0;
}
body{
  background: rgba(249,175,175,0.42);
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}
.product-image{
  width: 70%;
  height: 200px;
}
.product-img-parent{
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-product{
  margin: 0.5rem;
}
img.card-img {
  height: 12rem;
  width: 100%;
  margin-bottom: 0.25rem;
  padding: 1rem;
}

.card{
  padding: 0.3rem;
  margin: 1rem;
}
.floral-bg{
  background-image: url(https://raw.githubusercontent.com/Pratik667/myshop/development/src/assets/floralbg.jpg);
}

.card-img,.card-body{background-color:#fff;}
.card-title{
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  text-align:center;
  text-transform: capitalize;
  font-weight: bold;
  height: 64px;
}
.btn-light{
  border:1px solid #535c68;
}
/* Navbar */
.btn .bx {
  vertical-align: inherit;
  margin-top: -3px;
  font-size: 1.15rem;
}

.form-control {
  height: calc(2.5rem + 2px);
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.bx.icon-single {
  font-size: 1.5rem;
}

.form-inline .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-inline .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .form-inline .form-control {
    width: 210px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .form-inline .form-control {
    width: 440px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .form-inline .form-control {
    width: 600px;
  }
}

.sub-menu.navbar-light .navbar-nav .active > .nav-link,
.sub-menu.navbar-light .navbar-nav .nav-link.active,
.sub-menu.navbar-light .navbar-nav .nav-link.show,
.sub-menu.navbar-light .navbar-nav .show > .nav-link {
  border-bottom: 3px solid #ec0089;
  color: #ec0089;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler:focus {
  outline: none;
}

.navbar {
  padding: 1rem;
}

.main-menu {
  position: relative;
  z-index: 3;
}

.sub-menu {
  position: relative;
  z-index: 2;
  padding: 0 1rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .sub-menu {
    padding: 0 1rem;
  }

  .sub-menu.navbar-expand-md .navbar-nav .nav-link {
    padding: 1rem 1.5rem;
  }
}

.navbar.bg-light {
  background: #fff !important;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}

.user-dropdown .nav-link {
  padding: 0.15rem 0;
}

#sidebar {
  background: #fff;
  height: 100%;
  left: -100%;
  top: 0;
  bottom: 0;
  overflow: auto;
  position: fixed;
  transition: 0.4s ease-in-out;
  width: 84%;
  z-index: 5001;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  padding: 1.25rem 1rem 1rem;
}

#sidebar.active {
  left: 0;
}

#sidebar .sidebar-header {
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 1.5rem;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 40px;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px 16px;
  font-size: 1.1em;
  display: block;
  color: #000;
}

#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}

#sidebar ul li.active > a,
#sidebar a[aria-expanded="true"] {
  color: #ec0089;
  background: #e6f2ff;
  border-radius: 6px;
}

a[data-toggle="collapse"] {
  position: relative;
}

#sidebar .links .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

section {
  padding: 6rem;
  background: #e4e4e4;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: -1;
  width: 100%;
  opacity: 0;
}

.overlay.visible {
  opacity: 1;
  z-index: 5000;
}

/* .mobiHeader .menuActive~.overlay {
    opacity: 1;
    width: 100%;
} */

ul.social-icons {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

ul.social-icons li {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 0;
}

#sidebar ul.social-icons li a {
  font-size: 24px;
}

.utility-nav {
  background: #e4e4e4;
  padding: 0.5rem 1rem;
}

.utility-nav p {
  margin-bottom: 0;
}

.search-bar {
  position: relative;
  z-index: 2;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}

.search-bar .form-control {
  width: calc(100% - 45px);
}

.avatar {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 8px;
}

.avatar.avatar-xs {
  width: 2.25rem;
  height: 2.25rem;
}

.user-dropdown .dropdown-menu {
  left: auto;
  right: 0;
}
.nav-left {
  justify-content: flex-end;
}
.btn-primary{
  border-color:#ec0089;
  background-color: #ec0089;
}
.btn-link{
  color: #ec0089;
}
/* homepage banner  */
.banner {
  width: 100%;
  height: 400px;
  background-image: url(https://rukminim1.flixcart.com/flap/3376/560/image/ad75f59f7f69755a.jpg?q=50);
  background-position: center center;
  background-size: cover;
}
@media only screen and (max-width: 1024px) {
  .banner {   
    height: 300px;
  }
}
@media only screen and (max-width: 600px) {
  .banner {   
    height: 200px;
  }
}

.signature-header{
  color: #276792;
  font-size: 36px;
  font-weight:400;
  text-transform: uppercase;
  letter-spacing: 1.5;
  text-align:center;
}
.category-card .card-img-top{height:351px;}
@media only screen and (max-width: 1024px) {
  .category-card .card-img-top{height:300px;}
}
@media only screen and (max-width: 600px) {
  .category-card .card-img-top{height:200px;}
}
@media only screen and (max-width: 360px) {
  .category-card .card-img-top{height:300px;}
}
.category-card .card-title{
  height:auto;
  text-transform: uppercase;
}
.category-card a{
  text-decoration: none;
}
.single-banner{
  background-color:red;
 padding:0.5rem;
 background: url(https://images.unsplash.com/photo-1553532434-5ab5b6b84993?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29sb3IlMjBwYXR0ZXJufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80) center;
}
.single-banner .card{
   margin:0 auto;
   border-radius: 0;
}
.single-banner .card-text{
  font-size: x-large;
  text-transform: capitalize;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.single-banner .card-body{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shop-btn{
  border:0;
  background-color:#fa8231;
  color:rgba(0, 0, 0, 0.7);
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0;
  width:170px;
}
.shop-btn:hover{
  color:#fa8231;
  background-color: rgba(0, 0, 0, 0.7);
}

/* footer css */
.footer{
  background:#fff;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  margin:1% 0%;
  padding:0.6% 0%;
  color:#000;
  font-size:0.8em;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .footer .row a{
  text-decoration:none;
  color:#000;
  transition:0.5s;
  width:auto;

  }
  
  .footer .row a:hover{
  color:#010;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }